<div class="d-center h-100">
  <div class="login-container col-xl-5 col-lg-6 col-md-7 col-sm-10 col-11">
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="mb-3 col-lg-12 col-md-12 col-sm-12">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div
            *ngIf="
              loginForm.controls['email'].invalid &&
              loginForm.controls['email'].touched
            "
            class="text-danger mt-2"
          >
            <div *ngIf="loginForm.controls['email'].hasError('required')">
              Email is required
            </div>
            <div *ngIf="loginForm.controls['email'].hasError('email')">
              Invalid email address
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-2"
        >
          <div class="col-sm-4 col-6">
            <button
              type="button"
              class="login-button w-100 h-100 btn-primary"
              (click)="forgetPassword()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
