/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:wght@500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Nastaliq+Urdu:wght@400;500;600;700&family=Oxygen:wght@300;400&family=Plus+Jakarta+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,500;0,600;1,500;1,600&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "swiper/swiper-bundle.css";

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.tooltip .tooltip-inner {
  max-width: 300px;
}

.custom-width-modal .modal-dialog {
  max-width: 600px;
  border-radius: 200px !important;
}

textarea:focus,
input:focus {
  outline: none;
}

:focus {
  outline: none;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: #f6f6f6;
}

.carousel-control-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -20px;
  top: 40%;
}

.carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -20px;
  top: 40%;
}

.carousel-control-prev-icon {
  background-image: url("/assets/images/prev-2.png");
  height: 15px;
  width: 15px;
  left: 10px;
}

.carousel-control-next-icon {
  background-image: url("/assets/images/next2.png");
  height: 15px;
  width: 15px;
  right: 15px;
}

//Pagination start

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 8px;
  box-shadow: none;
  background: inherit !important;
  color: inherit;
}

.page-item {
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  .active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background: #007bff;
    border-radius: 8px;
    color: white;
  }
  .disabled {
    background: #e0e5e9;
    border-radius: 8px;
  }
}

//Pagination end

// Delete modal start

.modal-header-text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #121212;
}

.modal-body-text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #121212;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-delete-btn,
.modal-cancel-btn {
  width: 110px;
  min-height: 45px;
  box-shadow: 0px 0px 0px rgba(1, 149, 133, 0.15);
  border-radius: 10px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: none;
  outline: none;
}
.modal-cancel-btn {
  background: #303034de;
}
.modal-delete-btn {
  background: #007bff;
}

// Delete modal end

a {
  cursor: pointer;
}
